{% include "HashReviewsTransactionReviewBundle:Default:header.html.twig" %}

<h2>Review</h2>
<p>Date: {{ review.createdAt|date('m/d/Y') }}
{% if review.updatedAt < review.createdAt %}
(updated: {{ review.updatedAt|date('m/d/Y') }})
{% endif %}
</p>



<p>Rating: {{ review.rating }}/5</p>

<p>{{ review.review|nl2br }}</p>
<hr />
<h4>Transaction Details:</h4>
<p>Date: {{ review.txDate|date('m/d/Y') }}</p>
<p>Estimated Amount: {{ review.txAmount }} BTC</p>
<p>
{% if review.re == 'to' %}
This review was authored by someone who sent bitcoin to this address:
{% else %}
This review was authored by someone who received bitcoin from this address:
{% endif %} <b>{{ review.reAddress }}</b>
</p>
<div id="moreLink">
	<a href="javascript:;" onclick="$('#moreDetails').toggle();$('#moreLink').toggle();">more details</a>
</div>
<div id="moreDetails" style="display: none">
<p>Hash: <b>{{ review.txHash }}</b></p>
<p>View on: <a href="https://blockchain.info/tx/{{ review.txHash }}">BlockChain.info</a>
<p><a href="{{ revise_link }}">Revise Review</a> You'll need to be able to sign it with address: <b>{{ review.authorAddress }}</b></p>


<h3>Full Review Message:</h3>
<p>You can verify this message and signature with any bitcoind instance, or with the wallet tools at <a href="https://blockchain.info/wallet">BlockChain.info</a><br />  Version 1.0 hash is sha256 twice.</p>
<pre>
{{ review.reviewMessage }}
</pre>


<p>Message Hash:<br /><pre>{{ review.reviewMessageHash }}</pre></p>

<p>Signature:<br /><pre>{{ review.signature }}</pre></p>

<p>Review Author / {% if review.re == 'to' %}Bitcoin Sender{% else %}Bitcoin Receiver{% endif %} / Signed By :<br /><pre>{{ review.authorAddress }}</pre></p>

<p><a href="javascript:;" onclick="$('#moreDetails').toggle();$('#moreLink').toggle();">less details</a></p>

</div>

{% include "HashReviewsTransactionReviewBundle:Default:footer.html.twig" %}


