{% include "HashReviewsTransactionReviewBundle:Default:header.html.twig" %}

<h2>Reviews</h2>
<h4>For {% if is_tx %} transaction hash {% else %} bitcoin address {% endif %}: {{ query }}</h4>

{% include "HashReviewsTransactionReviewBundle:Default:flashbag.html.twig" %}

{% if reviews %}
<table class="table table-striped">
<tr><th>Date</th><th>Rating</th><th>Review</th></tr>
{% for review in reviews %}
    <tr>
    	<td>{{ review.createdAt|date('m/d/Y') }}</td>
    	<td>{{review.rating}}/5</td>
    	<td><div style="height: 20px; overflow: hidden;">{{ review.review }}</div>
    		<a href="{{ app.request.baseUrl }}/{{review.re}}/{{review.txHash}}/{{review.fromAddress}}/{{review.toAddress}}">read more</a>
    	</td>
    </tr>

{% endfor %}

</table>
{% endif %}

{% include "HashReviewsTransactionReviewBundle:Default:footer.html.twig" %}
